/*   MISINとは？
...........................................  */
.p-section_ttl {
  font-size: 26px;
}

.p-section_ttl .en {
  font-size: 36px;
  vertical-align: -3px;
}

.summary_txt {
  line-height: 2;
  text-align: center;
  letter-spacing: .15em;
}

.summary_txt p {
  margin-bottom: 16px;
}

a.inquiry_link {
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
  text-decoration: underline;
}

a.inquiry_link:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}
