/* ...........................................

    order

...........................................  */


/*   inputform_01
...........................................  */
.item_ttl_cont {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
}

.order_item_ttl {
  color: #fff;
  line-height: 1;
}

.cancel_btn {
  font-size: 20px;
  height: 26px;
  background: #fff;
}

/*   order_detail
...........................................  */
.order_detail {
  padding: 30px 30px;
}

.order_detail:nth-of-type(odd) {
  background: #ccc;
}

.order_detail_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.order_detail_ttl {
  font-size: 20px;
}

select {
  font-size: 18px;
  width: 150px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;

  border: 1px solid #000;
  border-radius: 0;
  background: #ffffff;

}

select::-ms-expand {
  display: none;
}


.p-select_box {
  position: relative;

}

.p-select_box::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 3px;
  right: 5px;
  margin: auto;
  width: 18px;
  height: 18px;
  background: url(../../../img/pc/common/check_icon.png) no-repeat center / contain;
  pointer-events: none;
}


.item_name_txt {
  padding-left: 10px;
  padding-right: 10px;
}

.item_name {

  font-size: 18px;
  padding: 5px;
  height: 31px;
  box-sizing: border-box;
}

.help_icon_cont {
  position: relative;
}

.help_icon {
  position: absolute;
  top: 3px;
  right: 10px;
}

.help_icon::after {
  content: '?';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #000;
  text-align: center;
}

.item_name_period {
  padding-left: 8px;
}

/*   ph_upload_row
...........................................  */
.ph_upload_row> * {
  width: calc((100% - 90px)/4);
}
.ph_upload_row> *:not(:last-of-type) {
  margin-right: 30px;
}

.ph_name {
  text-align: center;
}

.item_ph {
  border: 1px solid #000;
  margin-bottom: 20px;
}

.ph_btn_cont {
  display: flex;
  justify-content: space-between;
}


/*   ph_btn_cont
...........................................  */

.ph_btn_cont> * {
  width: calc((100% - 30px)/2);
  border: 1px solid #000;
  padding: 3px 0;
  font-weight: 700;
  font-size: 16px;
}

.ph_delete_btn {
  background: #fff;
}

.ph_upload_btn {
  color: #fff;
  background: #000;
}