@charset "UTF-8";

/* ...........................................

    import fonts

...........................................  */

/* 英字フォントはLoRes12を指定 font-weightは400,700が指定可能 */
@import url("https://use.typekit.net/lat7snk.css"); 

/* 日本語フォントはPixelMplusを指定 font-weightはRegular */
@font-face {
  font-family: "PixelMplus";
  src: url("../../fonts/PixelMplus10-Regular.ttf");
}

/* ...........................................

    base

...........................................  */
body {
  min-width: 1064px;
  color: #000;
  font-size: 18px;
  line-height: 1.5;
  font-family: lores-12, "PixelMplus", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:hover {
  transition: 0.2s;
}

/*   bg_color_cont
...........................................  */
.bg_color_cont {
  overflow: hidden;
}

.bg_color_inner {
  background: rgba(230,0,111,1);
}

.bg_color_cont::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 1500px 0 0;
  border-color: transparent rgba(230,0,111,1) transparent transparent;
}

.bg_color_cont::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 1500px 0 0;
  border-color: rgba(230,0,111,1) transparent transparent transparent;
}

/*   basic layouts
...........................................  */
.l-section_cont {
  padding: 0;/* 上下に余白とったほうがいいかも */
}

.l-inner {
  width: 1024px;
  margin: auto;
}

/* ...........................................

    parts

...........................................  */

/*   title
...........................................  */
.p-section_ttl {
  margin-bottom: 60px;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
}

.p-section_ttl .en{
  display: block;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}

/*   button
...........................................  */
.p-general_btn {
  text-align: center;
}

.p-general_btn a {
  display: inline-block;
  padding: 10px 80px;
  box-sizing: border-box;
  color: #fff;
  line-height: 1;
  border-radius: 22px;
  background: rgba(230,0,111,1);
}

.p-general_btn a:last-child {
  margin-right: 0;
}

.p-general_btn a::after {
  display: inline-block;
  width: 21px;
  height: 20px;
  margin-left: 10px;
  background: url(../../img/pc/common/arrow.png) no-repeat center /contain;
  transition: 0.2s;
  content: "";
}

.p-general_btn a:hover {
  text-decoration: underline;
}

.p-general_btn a:hover::after {
  transition-delay: 0.15s;
  transform: translateX(10px);
}

/*   pagination
...........................................  */
/* 
.p-page_nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
  border-bottom: 2px solid #d9d9d9;
}
.p-page_nav > * {
  margin-right: 20px;
}
.p-page_nav a {
  display: block;
  min-width: 196px;
  padding: 17px 0;
  box-sizing: border-box;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.1em;
  border-radius: 3px 3px 0 0;
  background: #e6e6e6;
}
.p-page_nav > *:hover,
.p-page_nav .active {
  position: relative;
  bottom: -2px;
}
.p-page_nav > *:hover a,
.p-page_nav .active a {
  padding: 21px 0;
  border: solid #e6e6e6;
  border-width: 2px 2px 0;
  background: #fff;
  opacity: 1;
  transition: none;
}
.p-page_nav .active a:hover {
  opacity: 1;
} */


/* ...........................................

    header

...........................................  */
.header {
  position: relative;
  overflow: hidden;
}

/*   header_main
...........................................  */
.header_main {
  font-weight: 700;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 45px;
  text-align: center;
  padding-left: 195px;
  background: rgba(230,0,111,1);
  box-sizing: border-box;
}

.header_main> * {
  display: inline-block;
}

/*   header_logo
...........................................  */
.header_logo {
  display: inline-block;
  text-align: center;
  font-size: 70px;
  line-height: 1;
}

.header_logo:hover {
  color: #fff;
}

/*   SIGN IN / NEW ORDER
...........................................  */
.header_members_nav {
  width: 140px;
  padding-left: 40px;
}

.header_members_nav a {
  display: block;
}

.header_sign_in {
  border: 1px solid #000;
}

.header_sign_in:hover {
  background: #fff;
}

.header_new_order {
  margin-top: 10px;
  color: #fff;
  background: #000;
}

.header_new_order:hover {
  color: rgba(230,0,111,1);
}

/*   header_nav
...........................................  */
.header_nav>* {
  background: rgba(230,0,111,1);
}

.header_nav::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 1500px 0 0;
  border-color: rgba(230,0,111,1) transparent transparent transparent;
}

/*   header_global_nav
...........................................  */
.header_global_nav {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
}

.header_global_nav> *:hover {
  color: #fff;
}

/* トップページ用 */
.header_main.is-toppage {
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-bottom: none; */
}

/* js用 */
.is-scrolled {
  /* padding-bottom: 112px; */
}

.is-scrolled .header_main {
  /* position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
}
.is-narrow .header_logo a,
.is-narrow .header_g-nav a,
.is-narrow .header_lang a {
  /* height: 82px; */
}


/* ...........................................

    footer

...........................................  */
.footer {
  line-height: 1;
  overflow: hidden;
}

.footer_cont {
  background: rgba(230,0,111,1);
  padding-top: 10px;
  padding-bottom: 50px;
}

.footer::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 1500px 0 0;
  border-color: transparent rgba(230,0,111,1) transparent transparent;
}

.footer_copyright {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
}
