/* ...........................................

    top

...........................................  */

/*   main_visual
...........................................  */
.main_visual_cont {
  position: relative;
  z-index: -1;
  margin-top: -150px;
}

.main_visual {
  height: 650px;
  background: url(../../../img/pc/top/main.png);
  background-size: cover;
}

.main_visual img {
  width: 100%;
}

.top_main_ttl {
  font-size: 130px;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  top: 155px;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 300px;
  margin: 0 auto;
}

/*   summary
...........................................  */
.summary_cont {
  margin-top: -155px;
}

.summary_inner {
  padding-top: 30px;
}

.summary_txt {
  line-height: 2;
  text-align: center;
  letter-spacing: 0.15em;
}

.summary_txt span {
  display: block;
}

.summary_txt span::after {
  display: block;
  content: "*";
}

.summary_txt em {
  font-style: normal;
  display: block;
  margin-top: 10px;
}
/*   menu
...........................................  */
.menu_cont {
  padding-top: 40px;
}

.menu_ttl {
  margin-bottom: 100px;
}

/*   clothes_select_area
...........................................  */
.clothes_select_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.clothes_select_area> * {
  position: relative;
  box-sizing: border-box;
  width: calc((100% - 100px) / 6);
  text-align: center;
}

.label img {
  width: 60%;
  padding-bottom: 20px;
}

.item_ttl {
  font-size: 14px;
  display: inline-block;
  text-align: left;
}

/*   radio
...........................................  */
input[type=radio] {
  display: none;
}

input[type="radio"]:checked+ label::before {
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  content: "";
  border-radius: 18px;
  background: rgba(38,50,237,1);
}

.label {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

.label:hover {
  opacity: 0.6;
}

/*   menu_select_area
...........................................  */
.menu_select_list> * {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.menu_select_ttl {
  font-size: 16px;
  flex-basis: 300px;
}

/* 価格周り */
.menu_price {
  font-size: 20px;
  flex-grow: 2;
}

.min_price +.cur_unit::after {
  content: '~';
  font-size: 22px;
  margin-left: 10px;
  margin-right: 5px;
}

.cur_unit {
  font-size: 14px;
}

.menu_select_list> *:nth-of-type(odd) {
  background: #ccc;
}

.menu_select_list> *:nth-of-type(even) .numcount {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/*   menu_order_counter
...........................................  */
.menu_order_counter {
  box-sizing: border-box;
}

.numcount {
  font-family: lores-12;
  font-size: 24px;
  line-height: 30px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 30px;
  margin-right: -5px;
  margin-left: -5px;
  text-align: center;
  vertical-align: top;
  color: #999;
  border: none;
}

a.minus,
a.plus {
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: #000;
}

/*   continue_order_btn
...........................................  */
.continue_order_btn {
  font-size: 24px;
  margin-top: 60px;
}